---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

let title = "About";
---
<html>
  <head>
    <MainHead
      title={title}
      canonicalURL={Astro.request.canonicalURL}
    />
    <style lang="scss">
      .wrapper {
        min-height: calc(100vh - 107px);
        margin: 0 auto;
        max-width: min(60ch + 15vw, 830px);
      }
      .text-wrapper {
        padding: 35px 40px;
        margin-top: 30px;
        margin-bottom: 80px;

        background-color: var(--item-bg-color);
        border-radius: 4px;
        box-shadow: var(--button-shadow);

        color: var(--light-grey);
        font-size: var(--p-text-size);
        line-height: 2;
      }
      .title {
        margin: 0;
        font-size: var(--h2-text-size);
        letter-spacing: -0.04em;
        padding-top: 2rem;
        padding-bottom: 0;
        text-align: center;
        color: var(--light-blue);
      }
      .splash-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: var(--content-width);
        max-width: 100%;
        position: relative;
      }
    </style>
  </head>
  <body>
    <Nav title={title} />
    <main class="wrapper">
      <h2 class="title">{title}</h2>
      <div class="text-wrapper">
        <p>
          Hi, I'm Shreesh Bhat, a Senior Software Engineer at Manhattan
          Associates, where I love building User Interfaces and framework to
          generate UIs.
        </p>
        <p>
          My pronouns are they/their.
          I care about performance, inclusive design, and compassionate coding.
        </p>
        <p>
          In my spare time, you will often find me playing video games, cooking,
          listening to music, table top gaming with my partner, or working on{" "}
          <a href="https://github.com/shreeshbhat/strike-off">Strike off</a>.
        </p>
        <p>
          You can check out my 
          <a href="https://github.com/shreeshbhat">GitHub</a> or reach out to me
          on <a href="https://www.twitter.com/shreeshbhat">Twitter</a>.
        </p>
      </div>
    </main>
  </body>
</html>
