---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';

let title = "About";
---
<html>
  <head>
    <MainHead
      title={title}
      canonicalURL={Astro.request.canonicalURL}
    />
    <style lang="scss">

      .text {
        padding-bottom: 6rem;

        p {
          font-size: 1.2em;
          line-height: 2;
          margin-top: 2em;
          margin-bottom: 2em;
        }
      }

      .hero {
        display: block;
        height: 16rem;
        overflow: hidden;
        margin: 4rem 0;

        &-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        font-size: 3em;
        letter-spacing: -0.04em;
        margin-top: 2rem;
        margin-bottom: 0;
        text-align: center;
      }
      .splash-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: white;
        width: var(--content-width);
        max-width: 100%;
        position: relative;
      }
    </style>
  </head>
  <body>
    <Nav title={title} />
    <main class="wrapper">
      <h2 class="title">{title}</h2>
      <div class="splash-wrapper">
        <div class="hero">
          <img class="hero-img" src="/images/profile.svg" alt="">
        </div>
        <div class="text">
          <p>
            Hi, I'm Shreesh Bhat, a Senior Software Engineer at Manhattan
            Associates, where I love building User Interfaces and framework to
            generate UIs.
          </p>
        </div>
      </div>
      <div class="text">
        <br />
        <p>
          My pronouns are they/their.
          I care about performance, inclusive design, and compassionate coding.
        </p>
        <p>
          In my spare time, you will often find me playing video games, cooking,
          listening to music, table top gaming with my partner, or working on{" "}
          <a href="https://github.com/shreeshbhat/strike-off">Strike off</a>.
        </p>
        <p>
          You can check out my 
          <a href="https://github.com/shreeshbhat">GitHub</a> or reach out to me
          on <a href="https://www.twitter.com/shreeshbhat">Twitter</a>.
        </p>
      </div>
    </main>
  </body>
</html>
