---
import BlogHead from './BlogHead.astro';
import { formatReadingTime, getReadingTime } from '../utils/preview-helper';

export interface Props {
  blog: any;
}
const { blog } = Astro.props;

function formatDate(date) {
  return new Date(date).toUTCString().slice(5,16); // slice dd MMM yyyy
}

const readingTime = getReadingTime(blog.astro.source);
---

<style lang="scss">
.blog-post-wrapper {
  margin: 0 auto;
  max-width: min(60ch + 15vw, 830px);
}

.blog-post {
  color: var(--light-grey);
  padding: 35px 40px;
  margin-top: 55px;
  background-color: var(--item-bg-color);
  border-radius: 4px;
  box-shadow: var(--button-shadow);
}

.link, .description {
  font-size: var(--p-text-size);
}

p {
  margin: 15px 0;
}




</style>

<article class="blog-post-wrapper">
  <div class="blog-post">
    <BlogHead blog={blog} isHeaderLink={true} />
    
    <p class="description">{blog.description}</p>
  </div>
</article>
